#container{
    position: absolute;
    height: 100%; 
    width: 100%;
    background: #0C0B10;
    top: 0%;
    left: 0%;
}

.container1{
    position: absolute;
    width: 38%;
    height: 7%;
    background: #24232B;
    left: 31.25%;
    top: 19%;

}

#output{
    margin: 1.7%;
    color: #53525A;
    font-size: 29px;
    font-family: Monospaceland;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.58px;
}

#copy{
    position: absolute;
    background-image: url('Vector.png');
    background-repeat: no-repeat;
    height: 50%;
    width: 4%;
    background-color:#24232b ;
    border: none;

    right: 1%;
    top: 30%;
    
}
#copy:hover{
    cursor: pointer;
}

.container2{
    position: absolute;
    width: 38%;
    height: 51%;
    background: #24232b;
    left: 31.25%;
    top: 29%;
}

#charLength{
position: absolute;
left: 6%;
top: 6.8%;
font-size: 15px;
font-family: Monospaceland;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.12px;
color: rgba(255, 255, 255, 1);

}

.lenNum{
position: absolute;
right: 3%;
top: 4.5%;
color: #A4FFAF;
font-size: 29px;
font-family: Monospaceland;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.232px;
}

#slider{
    position: absolute;
   
    top: 18%;
    right: 3%;
    width: 85%;
    height: 2%;
}
.myrange {
    -webkit-appearance: none;
    
    border-radius: 5px;
    background:#19171F;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .myrange:hover {
    opacity: 1;
  }

  .myrange::-ms-fill-lower{
    background-color: #A4FFAF;
  }



  
  .myrange::-webkit-slider-thumb {
    -webkit-appearance: none;
    
    width: 26px;
    height: 26px;
    /* border-radius: 50%; */
    border-radius: 26px;
    border: 2px solid #EDECF4;
    background: #E6E5EB;
    cursor: pointer;
    
  }
  
  .myrange::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
  }
/* 
  .list{
    position: absolute;
    
    top: 30%;
    left: 6%;
    width: 100%;
    height: 30%;
  } */


  /* .list div{
    display: block;
    font-family: Monospaceland;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: -0.027em;
    text-align: left;
    color: #FFFFFF;

  } */

  .strength{
    position: absolute;
    width: 88%;
    height: 14%;
    background: #18171F;
    margin-top: 3%;
    top: 60%;
    left: 6%;
    
  }

  #strtext{
    position: absolute;
    left: 4%;
    top: 30%;
    color: #82808E;
    font-size: 15px;
    font-family: Monospaceland;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.12px;
  }

  .strbox{
    display: flex;
    position: absolute;
    top:20% ;
    right: 2%;

  }

  .box{
    display: flex;
    width: 5px;
    height: 22px;
    flex-shrink: 0;
    border: 2.1px solid #FFF;
    margin: 2px;
  }

  #generate{
    position: absolute;
    width: 88%;
    height: 12.2%;
    bottom: 5%;
    left: 6%;
    background: #A4FFAF;


    color: #04210F;
    font-size: 13px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.339px;
    cursor: pointer;
  }
  .script {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 20px;
    top: 29%;
    left: 7%;

    color: #FFF;
    font-size: 16px;
    font-family: Monospaceland;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.432px;
}


input[type=checkbox] {
    visibility: hidden;
}

.geekmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 14px;
    width: 13px;
    background-color:transparent;
    border: 2px solid #FFF;
}


.script input:checked ~ .geekmark {
    background-color: #A4FFAF;
}


.geekmark:after {
    content: "";
    position: absolute;
    display: none;
}


.script input:checked ~ .geekmark:after {
    display: block;
}

.box.colored {
    background-color:  #A4FFAF;
  }


